In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames - Netflix

In [2]:
netflix_data = pd.read_csv("./Resources/netflix_titles.csv")

In [3]:
netflix_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

# Extract CSVs into DataFrames - Amazon

In [5]:
amazon_data = pd.read_csv("./Resources/amazon_prime_titles.csv")

In [6]:
amazon_data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [7]:
amazon_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [8]:
amazon_data.keys()

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

### Transform DataFrame 1 - Netflix

In [9]:
###Rename listed_in to category
netflix_data1 = netflix_data.rename(columns = {'listed_in': 'category'})

In [15]:
## Removing the unwanted columns
columns = ["show_id","title", "director", "country", "release_year", "rating", "category"]
netflix_data2 = netflix_data1.reindex(columns = columns)
netflix_data2.head()

,show_id,title,director,country,release_year,rating,category
0,s1,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,PG-13,Documentaries
1,s2,Blood & Water,NaN,South Africa,2021,TV-MA,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,Ganglands,Julien Leclercq,NaN,2021,TV-MA,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,Jailbirds New Orleans,NaN,NaN,2021,TV-MA,"Docuseries, Reality TV"
4,s5,Kota Factory,NaN,India,2021,TV-MA,"International TV Shows, Romantic TV Shows, TV ..."

In [16]:
#checking the values in category
netflix_data2.category

0                                           Documentaries
1         International TV Shows, TV Dramas, TV Mysteries
2       Crime TV Shows, International TV Shows, TV Act...
3                                  Docuseries, Reality TV
4       International TV Shows, Romantic TV Shows, TV ...
                              ...
8802                       Cult Movies, Dramas, Thrillers
8803               Kids' TV, Korean TV Shows, TV Comedies
8804                              Comedies, Horror Movies
8805                   Children & Family Movies, Comedies
8806       Dramas, International Movies, Music & Musicals
Name: category, Length: 8807, dtype: object

In [17]:
#Converting string into a list of strings
netflix_data2['category'] = netflix_data2['category'].str.split(',')

In [18]:
##explode rows into multiples rows
netflix_data2.explode('category').head()

,show_id,title,director,country,release_year,rating,category
0,s1,Dick Johnson Is Dead,Kirsten Johnson,United States,2020,PG-13,Documentaries
1,s2,Blood & Water,NaN,South Africa,2021,TV-MA,International TV Shows
1,s2,Blood & Water,NaN,South Africa,2021,TV-MA,TV Dramas
1,s2,Blood & Water,NaN,South Africa,2021,TV-MA,TV Mysteries
2,s3,Ganglands,Julien Leclercq,NaN,2021,TV-MA,Crime TV Shows

### Transform DataFrame 2 - Amazon

In [19]:
###Rename listed_in to category
amazon_data1 = amazon_data.rename(columns = {'listed_in': 'category'})

In [20]:
columns = ["show_id", "title", "director", "country", "release_year", "rating", "category"]
amazon_data2 = amazon_data1.reindex(columns = columns)
amazon_data2.head()

,show_id,title,director,country,release_year,rating,category
0,s1,The Grand Seduction,Don McKellar,Canada,2014,NaN,"Comedy, Drama"
1,s2,Take Care Good Night,Girish Joshi,India,2018,13+,"Drama, International"
2,s3,Secrets of Deception,Josh Webber,United States,2017,NaN,"Action, Drama, Suspense"
3,s4,Pink: Staying True,Sonia Anderson,United States,2014,NaN,Documentary
4,s5,Monster Maker,Giles Foster,United Kingdom,1989,NaN,"Drama, Fantasy"

In [21]:
#Converting string into a list of strings
amazon_data2['category'] = amazon_data2['category'].str.split(',')

In [22]:
amazon_data2.head()

,show_id,title,director,country,release_year,rating,category
0,s1,The Grand Seduction,Don McKellar,Canada,2014,NaN,"[Comedy, Drama]"
1,s2,Take Care Good Night,Girish Joshi,India,2018,13+,"[Drama, International]"
2,s3,Secrets of Deception,Josh Webber,United States,2017,NaN,"[Action, Drama, Suspense]"
3,s4,Pink: Staying True,Sonia Anderson,United States,2014,NaN,[Documentary]
4,s5,Monster Maker,Giles Foster,United Kingdom,1989,NaN,"[Drama, Fantasy]"

In [23]:
##explode rows into multiples rows
amazon_data2.explode('category').head()

,show_id,title,director,country,release_year,rating,category
0,s1,The Grand Seduction,Don McKellar,Canada,2014,NaN,Comedy
0,s1,The Grand Seduction,Don McKellar,Canada,2014,NaN,Drama
1,s2,Take Care Good Night,Girish Joshi,India,2018,13+,Drama
1,s2,Take Care Good Night,Girish Joshi,India,2018,13+,International
2,s3,Secrets of Deception,Josh Webber,United States,2017,NaN,Action

### Create database connection

In [ ]:
protocol = 'postgresql'
username = '<user name>'
password = '<password>'
host = 'localhost'
port = 5432
database_name = 'customer_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

### Load DataFrames into database